site_name: box documentation
theme:
  name: simple-blog

repo_url: https://github.com/sebakri/box

extra_javascript:
  - javascripts/extra.js
extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
