
.copy-code-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8em;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;
}

.copy-code-button:hover {
    opacity: 1;
}

pre {
    position: relative;
}
